@charset "UTF-8";

body {
    background-color: rgb(212, 173, 248);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #633969;
}

h1#principal {
    text-align: center;
    background-color: aliceblue;
}

h2 {
    color: #690D47;
}

p {
    color: #F91EA7;
}

.basico {
    color: yellow;
}

.intermediario {
    color: green;
}

.avancado {
    color: red;
}